<h2>AGREGAR PROPIEDAD</h2>
<form class="form">
  <label>Nombre:</label>
  <input type="text" /><br />

  <label>Ubicación:</label>
  <input type="text" /><br />

  <label>Descripción:</label>
  <textarea rows="3"></textarea><br />

  <label>Unidades:</label>
  <input type="number" /><br />

  <label>Habitaciones:</label>
  <input type="number" /><br />

  <label>Propietario:</label>
  <select>
    <option>Seleccionar</option>
    <option>María López</option>
    <option>Juan García</option>
  </select><br />

  <label>Imagen:</label>
  <input type="file" /><br /><br />

  <button>Guardar Propiedad</button>
</form>